<!DOCTYPE html>
<html lang="de">
<head>
  <%- include('../partials/head'); %>
  <link rel="stylesheet" href="styles/index.css">
  <title>Unsere Reise | Quilar</title>
</head>

<body>
    <header class="visible">
    <%- include('../partials/header'); %>
    </header>
    <main>
      <%- include('../partials/about-hero') %>
      <%- include('../partials/founder') %>
      <%- include('../partials/team') %>
      <%- include('../partials/stats') %>
    </main>

    <footer>
      <%- include('../partials/footer'); %>
    </footer>

</body>
</html>