<!DOCTYPE html>
<html lang="de">
<head>
  <%- include('../partials/head'); %>
  
</head>

<body>
    <header class="visible">
    <%- include('../partials/header'); %>
    </header>
    <main>

        <h1>claim-2</h1>
      <%- include('../partials/claim-2') %>
      <h1>ar</h1>
      <%- include('../partials/ar') %>
      <h1>claim-3</h1>
      <%- include('../partials/claim-3') %>
      <h1>ar-2</h1>
      <%- include('../partials/ar-2') %>
      <h1>illustration</h1>
      <%- include('../partials/illustration') %>
      <h1>prices</h1>
      <%- include('../partials/prices') %>
      <h1>showcase</h1>
      <%- include('../partials/showcase') %>
      <h1>testimonials</h1>
      <%- include('../partials/testimonials') %>
      <h1>tool</h1>
      <%- include('../partials/tool') %>
      <h1>who</h1>
      <%- include('../partials/who') %>
    </main>

    <footer>
      <%- include('../partials/footer'); %>
    </footer>

</body>
</html>