<!DOCTYPE html>
<html>
<head>
    <%- include('../partials/head'); %>
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="stylesheet" href="/styles/blog-post.css">
    <title><%= blog.title %> | Quilar</title>
    <meta name="description" content="<%= blog.summary %>">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="article">
    <meta property="og:title" content="<%= blog.title %>">
    <meta property="og:description" content="<%= blog.summary %>">
    <meta property="og:image" content="<%= blog.imagePath %>">
    </head>
<body>
    <header class="visible">
    <%- include('../partials/header'); %>
    </header>
    <main>
    <section class="section-container">
        <section class="blog-post-section">
            <div class="blog-post-container">
                <div class="blog-post">
                        <div><%- blog.content %></div>
                </div>
                <div class="more-posts">
                <div class="card">
                    <div class="card-header">
                        <h3>Mehr Beiträge</h3>
                    </div>
                    <% if(moreBlogs.length > 0){ %>
                    <% moreBlogs.forEach(more => { %>
                        <div>
                            <div class="card-body">
                                <h4><%= more.title %></h4>
                                <img src=<%= `/content/blogs/${more.id}/banner.png` %> alt=<%= more.title %> />
                                <a href=<%=`/blog/${more.id}`%>> Lesen > </a>
                            </div>
                        </div><br>
                    
                    <%})%> 
                    <% } %>
                </div>
                </div>
            </div>
        </section>
    </section>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>


</body>
</html>