<!DOCTYPE html>
<html lang="de">
<head>
  <%- include('../partials/head'); %>
  <link rel="stylesheet" href="styles/index.css">
</head>

<body>
    <header class="visible">
    <%- include('../partials/header'); %>
    <title>4D Immobilienvisualisierung | HomeTour by Quilar</title>
    <meta name="description" content="Die nächste Evolutionsstufe von virtuellen Besichtigungen. Schwere Zeiten sind für die Immobilienbranche angebrochen. Es sind neue Ansätze notwendig, um überlebensfähig zu bleiben. Wir garantieren den WOW-Effekt beim Kunden und steigern die Kaufabschlüsse.">
    </header>
    <main>
      <%- include('../partials/demo-hero') %>
      <%- include('../partials/values') %>
      <%- include('../partials/cta-banner') %>
    </main>

    <footer>
      <%- include('../partials/footer'); %>
    </footer>

</body>
</html>