<!DOCTYPE html>
<html lang="de">
<head>
  <%- include('../partials/head'); %>
  <link rel="stylesheet" href="/styles/index.css">
  <link rel="canonical" href="https://quilar.de/hometour">
  <title>HomeTour App | Quilar</title>
  <meta name="description" content="Die nächste Evolutionsstufe von virtuellen Besichtigungen. Schwere Zeiten sind für die Immobilienbranche angebrochen. Es sind neue Ansätze notwendig, um überlebensfähig zu bleiben. Wir garantieren den WOW-Effekt beim Kunden und steigern die Kaufabschlüsse durch gezielte Ansprache der Emotionen.">
</head>

<body>
    <header>
    <%- include('../partials/header'); %>
    </header>
    <main>
      <%- include('../partials/demo-hero') %>
      <%- include('../partials/promise') %>
      <%- include('../partials/walkhrough') %>
      <%- include('../partials/solution-benefits') %>
      <%- include('../partials/comparison') %>
      <%- include('../partials/cta-banner') %>
      <%- include('../partials/tools-compared-blogs') %>
    </main>

    <footer>
      <%- include('../partials/footer'); %>
    </footer>

</body>
</html>