<!DOCTYPE html>
<html lang="de">
<head>
  <%- include('../partials/head'); %>
  <link rel="stylesheet" href="styles/index.css">
</head>

<body>
    <header class="visible">
    <%- include('../partials/header'); %>
    </header>
    <main>
        <%- include('../partials/testimonials', {testimonials}) %>
        
        <%- include('../partials/illustration') %>
        <%- include('../partials/who') %>
        <%- include('../partials/showcase') %>
    </main>

    <footer>
      <%- include('../partials/footer'); %>
    </footer>

</body>
</html>