<!DOCTYPE html>
<html lang="de">
<head>
  <%- include('../partials/head'); %>
  <link rel="stylesheet" href="styles/index.css">
</head>

<body>
    <header class="visible">
    <%- include('../partials/header'); %>
    </header>
    <main>
      <%- include('../partials/hero') %>
      <%- include('../partials/customers') %>
      <%- include('../partials/vision') %>
      <%- include('../partials/demo') %>
      <%- include('../partials/benefits') %>
      <%- include('../partials/workflow') %>
      <%- include('../partials/cta-download') %>
      <%- include('../partials/claim-2') %>
      <%- include('../partials/ar') %>
      <%- include('../partials/claim-3') %>
      <%- include('../partials/ar-2') %>
    </main>

    <footer>
      <%- include('../partials/footer'); %>
    </footer>

</body>
</html>