<!DOCTYPE html>
<html lang="de">
<head>
  <%- include('../partials/head'); %>
  <link rel="stylesheet" href="/styles/index.css">
  <meta name="description" content="Immobilien in 4D erleben - Für das schlüsselfertige Bauen ist die Visualisierung des Endergebnisses entscheidend für die Auftragsgewinnung. Wir erstellen hochwertige 4D Touren in denen Ihre Kunden virtuell das zukünftige schlüsselfertig und in Lebensgröße begehen. Und das innerhalb weniger Tage.">
  <link rel="canonical" href="https://quilar.de/">
  <title>4D Visualisierung für Immobilien | Quilar</title>

    <!-- Open Graph / Facebook -->
    <meta property="og:locale" content="de_DE">
    <meta property="og:type" content="website">
    <meta property="og:title" content="4D Visualisierung für Immobilien | Quilar">
    <meta property="og:description" content="Immobilien in 4D erleben - Für das schlüsselfertige Bauen ist die Visualisierung des Endergebnisses entscheidend für die Auftragsgewinnung. Wir erstellen hochwertige 4D Touren in denen Ihre Kunden virtuell das zukünftige schlüsselfertig und in Lebensgröße begehen. Und das innerhalb weniger Tage.">
    <meta property="og:url" content="https://quilar.de/">
    <meta property="og:site_name" content="Quilar">
    <meta property="og:image" content="https://quilar.de/content/images/hero-thumbnail.png">

</head>

<body>
    <header>
    <%- include('../partials/header'); %>
    </header>
    <main>
      <%- include('../partials/hero') %>
      <%- include('../partials/testimonials') %>
      <%- include('../partials/target-group') %>
      <%- include('../partials/customers') %>
      <%- include('../partials/values') %>
      <%- include('../partials/first-steps') %>
      <%- include('../partials/production') %>
      <%- include('../partials/partners') %>
      <%- include('../partials/faq', {faqs: faqs}) %>
      <%- include('../partials/location') %>
    </main>

    <footer>
      <%- include('../partials/footer'); %>
    </footer>

</body>
</html>