<!DOCTYPE html>
<html lang="de">
<head>
  <%- include('../partials/head'); %>
  <link rel="stylesheet" href="styles/index.css">
</head>

<body>
    <header class="visible">
    <%- include('../partials/header'); %>
    </header>
    <main>
      <%- include('../partials/hero') %>
      <%- include('../partials/claim') %>
      <%- include('../partials/tool') %>
      <%- include('../partials/claim-2') %>
      <%- include('../partials/ar') %>
      <%- include('../partials/claim-3') %>
      <%- include('../partials/testimonials', {testimonials}) %>
      <%- include('../partials/benefits') %>
      <%- include('../partials/who') %>
      <%- include('../partials/showcase') %>
      <%- include('../partials/benefits2') %>
      <%- include('../partials/illustration') %>
      <%- include('../partials/team') %>
      <%- include('../partials/news', {news}) %>
      <%- include('../partials/prices') %>
      <%- include('../partials/partners') %>
      
    </main>

    <footer>
      <%- include('../partials/footer'); %>
    </footer>

</body>
</html>