<!DOCTYPE html>
<html lang="de">
<head>
  <%- include('../partials/head'); %>
  <link rel="stylesheet" href="styles/index.css">
</head>

<body>
    <header class="visible">
    <%- include('../partials/header'); %>
    <title>Visualisierung für Immobilien | Quilar</title>
    <meta name="description" content="Die nächste Evolutionsstufe von virtuellen Besichtigungen. Schwere Zeiten sind für die Immobilienbranche angebrochen. Es sind neue Ansätze notwendig, um überlebensfähig zu bleiben. Wir garantieren den WOW-Effekt beim Kunden und steigern die Kaufabschlüsse.">
    </header>
    <main>
      <%- include('../partials/hero') %>
      <%- include('../partials/prob-sol.ejs') %>
      <%- include('../partials/testimonials') %>
      <%- include('../partials/demo') %>
      <%- include('../partials/tool-compared') %>
      <%- include('../partials/target-group') %>
      <%- include('../partials/values') %>
      <%- include('../partials/promise') %>
      <%- include('../partials/stats') %>
      <%- include('../partials/solution-benefits') %>
      <%- include('../partials/first-steps') %>
      <%- include('../partials/customers') %>
      <%- include('../partials/founder') %>
      <%- include('../partials/workflow') %>
      <%- include('../partials/partners') %>
      <%- include('../partials/cta-download') %>
      <!-- <%- include('../partials/claim-2') %>
      <%- include('../partials/ar') %>
      <%- include('../partials/claim-3') %>
      <%- include('../partials/ar-2') %> -->
    </main>

    <footer>
      <%- include('../partials/footer'); %>
    </footer>

</body>
</html>