<!DOCTYPE html>
<html lang="de">
<head>
  <%- include('../partials/head'); %>
  <link rel="stylesheet" href="styles/index.css">
  <link rel="stylesheet" href="styles/benefits.css">
</head>

<body>
    <header class="visible">
    <%- include('../partials/header'); %>
    </header>
    <main>
        <%- /*include('../partials/benefits')*/ %>
        <%- /*include('../partials/benefits2')*/ %>
        <%-include('../partials/prices')%>

        <div style="display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        ">
            <p class="vp-text">
                Wir nehmen uns gerne die Zeit zu erfahren, wie wir Ihnen helfen können.
            </p>
            <button class="vp-cta" style="margin: 5em;">
                <a href="/#footer">Kontaktaufnahme</a>
            </button>
        </div>
    
    </main>

    <footer>
      <%- include('../partials/footer'); %>
    </footer>

</body>
</html>