<!DOCTYPE html>
<html lang="de">
<head>
  <%- include('../partials/head'); %>
  <link rel="stylesheet" href="/styles/index.css">
  <link rel="stylesheet" href="/styles/services.css">
  <title>Virtuelle Besichtigungen | Quilar</title>
</head>

<body>
    <header>
    <%- include('../partials/header'); %>
    </header>
    <main>
        <%-include('../partials/services-hero')%>
        <%-include('../partials/all_features')%>
    </main>

    <footer>
      <%- include('../partials/footer'); %>
    </footer>

</body>
</html>